#comosubir{
  padding:20px 0 50px 0;
}
.mwcomosubir{
  width: 100%;
  max-width: 480px;
}
.comos{
  margin:25px 0 0 0;
}
.comos img{
  width: 100%;
  height: auto;
  max-width: 120px;
}
@media (min-width: 767px) {
  .mwcomosubir{
    width: 80%;
    max-width: none;
  }
}
@media (min-width: 992px) {
  .container.mwcomosubir{
    width: 970px;
    max-width: none;
  }
}