.filter{
  padding: 0 0 15px 0;
  text-align: center;
}
.orangeBtn.filterBtn{
  margin: 4px 4px;
  max-width: 170px;
  width: 30%;
}
.hidden {
  display: none;
}
@media (min-width: 380px) {
  .orangeBtn.filterBtn{
    margin: 20px 4px;
  }
}