/* Section Hero */
#hero{
  margin:60px 0 0 0;
  height: 340px;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
/* Video Background Hero*/
.hero{
  position: relative;
  width:100%;
  height: 100%;
  margin: 0 auto;
}
.hero h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
#herocontainer{
  /*margin: 60px 0 0 0;*/
  width:100%;
  height: 340px;
  position:relative;
  top:0;
  left: 0;
  z-index:1;
  overflow: hidden;
  display:block;

}
#herocontainer h1.he{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0 15%;
  text-shadow: 0 1px 1px rgba(0, 0, 0,.5);
  display:none;
}
#herocontainer div.he2parent{
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0 15%;  
}
#herocontainer div.he2parent h1.he2{
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  background-color: rgba(255,255,255,0.80);
  line-height: 34px;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding: 0.25rem 0.45rem;
}
#herocontainer div.he2parent h1.he2 span{
  color: #ff6f00;
  font-weight: 900;
}

#video-background {
  position: initial;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: 390px; 
  z-index: -100;
}

@media (min-width: 767px) {
  #video-background {
    width: 100%;
    height: auto; 
  }
  #herocontainer{
    height: 340px;
  }
}
@media (min-width: 992px) {
  #video-background {
    width: 100%;
    height: auto; 
  }
  #herocontainer h1.he, #herocontainer div.he2parent h1.he2{
    font-size:25px;
    line-height: 1.8em;
  }
}
@media (min-width: 1200px) {
  #herocontainer h1.he, #herocontainer div.he2parent h1.he2{
    font-size:28px;
    line-height: 49px;
  }
}
.bt{
  display:block;
}